on:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write
  pull-requests: write

name: Publish Release

jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          run_install: false

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache:: pnpm
          registry-url: https://registry.npmjs.org/
      
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.PAT_GITHUB }}
          release-type: node
          
      - run: pnpm install
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm test
        if: ${{ steps.release.outputs.release_created }}
        
      - run: pnpm build
        if: ${{ steps.release.outputs.release_created }}

      - run: pnpm publish --access public
        if: ${{ steps.release.outputs.release_created }}
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
